/Library/target/*.jar
/Library/target
/LibraryAngularUI/node_modules
/Library/package-lock.json
/Library/.settings
/Library/.classpath
/Library/.project
/LibraryAngularUI/.vscode
/.idea/libraries/Maven__io_jsonwebtoken_jjwt_0_9_1.xml
/.idea/libraries/*.xml
